<div class="project-card">
    <div class="project-image-box">
        <img src="{{this.image}}" alt="{{this.title}}">
    </div>
    
    <div class="project-content">
        <h3 class="project-title">{{this.title}}</h3>
        <p class="project-description">{{this.desc}}</p>
        
        <div class="project-tags">
            {{!-- Jika tech dikirim sebagai array dari app.js --}}
            {{#each this.tech}}
                <span class="project-tech-badge">{{this}}</span>
            {{/each}}
        </div>

        <div class="project-footer">
            <a href="{{this.github}}" class="btn-project-link">
                <i class="fab fa-github"></i> Repository
            </a>
            <a href="{{this.link}}" class="btn-project-link">
                <i class="fas fa-external-link-alt"></i> Live Demo
            </a>
        </div>
    </div>
</div>