<div class="swiper tech-swiper">
    <div class="swiper-wrapper">
        {{!-- Looping Utama --}}
        {{#each skills}}
        <div class="swiper-slide">
            <div class="tech-item-slider" style="--brand-color: {{this.color}}">
                <div class="tech-img-box">
                    <img src="{{this.logo}}" alt="{{this.name}}">
                </div>
                <span class="tech-name">{{this.name}}</span>
            </div>
        </div>
        {{/each}}

        {{!-- DUPLIKASI: Tambahkan loop kedua agar item melimpah --}}
        {{#each skills}}
        <div class="swiper-slide">
            <div class="tech-item-slider" style="--brand-color: {{this.color}}">
                <div class="tech-img-box">
                    <img src="{{this.logo}}" alt="{{this.name}}">
                </div>
                <span class="tech-name">{{this.name}}</span>
            </div>
        </div>
        {{/each}}
    </div>
</div>